body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #212121;
}

.logo {
  font-family: Raleway;
}
.logo--logoBlue {
  color: #2196F3;
}

.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.header > .container__nav-menu {
  display: flex;
  gap: 50px;
}
.header > .container__link:hover {
  color: #2196F3;
}

.contacts {
  display: flex;
  gap: 50px;
  justify-content: flex-end;
  color: #757575;
}

a {
  color: #212121;
  text-decoration: none;
}