.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navMenu{
    display: flex;
    gap: 50px;

        &__link{
            color: $brandText;
            
            &:hover{
                color: $brandColorBlue;
            }
        }
    }

.contacts{
    display: flex;
    gap: 50px;
    justify-content: flex-end;
    color: $brandColorLightgray;
}

a {
    color: $brandText;
    text-decoration: none;
}